# Table of Contents

1. [Introduction](#introduction)

# Introduction
<a id = "introduction"></a>

In [1]:
import pandas as pd
import sklearn as sk
import numpy as np
import os

import matplotlib.pyplot as plt
%matplotlib inline 

'''%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras'''

np.random.seed(20052)

In [2]:
proj_path = 'C:/Users/russe/Documents/github/dats6202/dats6202-proj/'
extracted_dir = 'data/source/extracted/'

In [ ]:
dimensiontables_path = os.path.join(proj_path,extracted_dir,'DimensionTables.xlsx')
df_driver_raw = pd.read_excel(dimensiontables_path, sheet_name=0)
df_vehic_raw = pd.read_excel(dimensiontables_path, sheet_name=1)
df_cust_raw = pd.read_excel(dimensiontables_path, sheet_name=2)

In [10]:
fcosts_path = os.path.join(proj_path,extracted_dir,'fCosts.xlsx')

In [14]:
#This requires preprocessing
#test.head()
df_fixedcosts_raw = pd.read_excel(fcosts_path, sheet_name=0)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
2,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
3,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
4,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331