# Table of Contents

1. [Introduction](#introduction)

# Introduction
<a id = "introduction"></a>

In [1]:
import pandas as pd
import sklearn as sk
import numpy as np
import os

import matplotlib.pyplot as plt
%matplotlib inline 

'''%tensorflow_version 2.x 
import tensorflow as tf
from tensorflow import keras'''

np.random.seed(20052)

In [ ]:
proj_path = 'C:/Users/russe/Documents/github/dats6202/dats6202-proj/'
extracted_dir = 'data/source/extracted/'

In [ ]:
#State Adjacency List here: https://writeonly.wordpress.com/2009/03/20/adjacency-list-of-states-of-the-united-states-us/
adjstate_list = [['AK'],
['AL','MS','TN','GA','FL'],
['AR','MO','TN','MS','LA','TX','OK'],
['AZ','CA','NV','UT','CO','NM'],
['CA','OR','NV','AZ'],
['CO','WY','NE','KS','OK','NM','AZ','UT'],
['CT','NY','MA','RI'],
['DC','MD','VA'],
['DE','MD','PA','NJ'],
['FL','AL','GA'],
['GA','FL','AL','TN','NC','SC'],
['HI'],
['IA','MN','WI','IL','MO','NE','SD'],
['ID','MT','WY','UT','NV','OR','WA'],
['IL','IN','KY','MO','IA','WI'],
['IN','MI','OH','KY','IL'],
['KS','NE','MO','OK','CO'],
['KY','IN','OH','WV','VA','TN','MO','IL'],
['LA','TX','AR','MS'],
['MA','RI','CT','NY','NH','VT'],
['MD','VA','WV','PA','DC','DE'],
['ME','NH'],
['MI','WI','IN','OH'],
['MN','WI','IA','SD','ND'],
['MO','IA','IL','KY','TN','AR','OK','KS','NE'],
['MS','LA','AR','TN','AL'],
['MT','ND','SD','WY','ID'],
['NC','VA','TN','GA','SC'],
['ND','MN','SD','MT'],
['NE','SD','IA','MO','KS','CO','WY'],
['NH','VT','ME','MA'],
['NJ','DE','PA','NY'],
['NM','AZ','UT','CO','OK','TX'],
['NV','ID','UT','AZ','CA','OR'],
['NY','NJ','PA','VT','MA','CT'],
['OH','PA','WV','KY','IN','MI'],
['OK','KS','MO','AR','TX','NM','CO'],
['OR','CA','NV','ID','WA'],
['PA','NY','NJ','DE','MD','WV','OH'],
['RI','CT','MA'],
['SC','GA','NC'],
['SD','ND','MN','IA','NE','WY','MT'],
['TN','KY','VA','NC','GA','AL','MS','AR','MO'],
['TX','NM','OK','AR','LA'],
['UT','ID','WY','CO','NM','AZ','NV'],
['VA','NC','TN','KY','WV','MD','DC'],
['VT','NY','NH','MA'],
['WA','ID','OR'],
['WI','MI','MN','IA','IL'],
['WV','OH','PA','MD','VA','KY'],
['WY','MT','SD','NE','CO','UT','ID']]

In [82]:
adjstate_dict = {}
def nested_list_to_dict(nested_list):
    result = {}
    for sublist in nested_list:
        if len(sublist) > 0:
            key = sublist[0]
            if len(sublist) > 1:
                result[key] = sublist[1: ]
            else:
                result[key] = None
    return result

In [83]:
nested_list_to_dict(adjstate_list)

{'AK': None,
 'AL': ['MS', 'TN', 'GA', 'FL'],
 'AR': ['MO', 'TN', 'MS', 'LA', 'TX', 'OK'],
 'AZ': ['CA', 'NV', 'UT', 'CO', 'NM'],
 'CA': ['OR', 'NV', 'AZ'],
 'CO': ['WY', 'NE', 'KS', 'OK', 'NM', 'AZ', 'UT'],
 'CT': ['NY', 'MA', 'RI'],
 'DC': ['MD', 'VA'],
 'DE': ['MD', 'PA', 'NJ'],
 'FL': ['AL', 'GA'],
 'GA': ['FL', 'AL', 'TN', 'NC', 'SC'],
 'HI': None,
 'IA': ['MN', 'WI', 'IL', 'MO', 'NE', 'SD'],
 'ID': ['MT', 'WY', 'UT', 'NV', 'OR', 'WA'],
 'IL': ['IN', 'KY', 'MO', 'IA', 'WI'],
 'IN': ['MI', 'OH', 'KY', 'IL'],
 'KS': ['NE', 'MO', 'OK', 'CO'],
 'KY': ['IN', 'OH', 'WV', 'VA', 'TN', 'MO', 'IL'],
 'LA': ['TX', 'AR', 'MS'],
 'MA': ['RI', 'CT', 'NY', 'NH', 'VT'],
 'MD': ['VA', 'WV', 'PA', 'DC', 'DE'],
 'ME': ['NH'],
 'MI': ['WI', 'IN', 'OH'],
 'MN': ['WI', 'IA', 'SD', 'ND'],
 'MO': ['IA', 'IL', 'KY', 'TN', 'AR', 'OK', 'KS', 'NE'],
 'MS': ['LA', 'AR', 'TN', 'AL'],
 'MT': ['ND', 'SD', 'WY', 'ID'],
 'NC': ['VA', 'TN', 'GA', 'SC'],
 'ND': ['MN', 'SD', 'MT'],
 'NE': ['SD', 'IA', 'MO', 'KS', 'CO', 'WY'],
 'NH': ['VT', 'ME', 'MA'],
 'NJ': ['DE', 'PA', 'NY'],
 'NM': ['AZ', 'UT', 'CO', 'OK', 'TX'],
 'NV': ['ID', 'UT', 'AZ', 'CA', 'OR'],
 'NY': ['NJ', 'PA', 'VT', 'MA', 'CT'],
 'OH': ['PA', 'WV', 'KY', 'IN', 'MI'],
 'OK': ['KS', 'MO', 'AR', 'TX', 'NM', 'CO'],
 'OR': ['CA', 'NV', 'ID', 'WA'],
 'PA': ['NY', 'NJ', 'DE', 'MD', 'WV', 'OH'],
 'RI': ['CT', 'MA'],
 'SC': ['GA', 'NC'],
 'SD': ['ND', 'MN', 'IA', 'NE', 'WY', 'MT'],
 'TN': ['KY', 'VA', 'NC', 'GA', 'AL', 'MS', 'AR', 'MO'],
 'TX': ['NM', 'OK', 'AR', 'LA'],
 'UT': ['ID', 'WY', 'CO', 'NM', 'AZ', 'NV'],
 'VA': ['NC', 'TN', 'KY', 'WV', 'MD', 'DC'],
 'VT': ['NY', 'NH', 'MA'],
 'WA': ['ID', 'OR'],
 'WI': ['MI', 'MN', 'IA', 'IL'],
 'WV': ['OH', 'PA', 'MD', 'VA', 'KY'],
 'WY': ['MT', 'SD', 'NE', 'CO', 'UT', 'ID']}

In [ ]:
adjstate_list

In [69]:
dimensiontables_path = os.path.join(proj_path,extracted_dir,'DimensionTables.xlsx')
df_driver_raw = pd.read_excel(dimensiontables_path, sheet_name=0)
df_vehic_raw = pd.read_excel(dimensiontables_path, sheet_name=1)
df_cust_raw = pd.read_excel(dimensiontables_path, sheet_name=2)

In [71]:
df_cust_raw

       Customer ID            City State  Latitude  Longitude
0                5         Mineola    KY   38.8881   -91.5714
1                6         Mineola    KY   38.8881   -91.5714
2               21         Mineola    KY   38.8881   -91.5714
3               34         Mineola    KY   38.8881   -91.5714
4               43         Mineola    KY   38.8881   -91.5714
...            ...             ...   ...       ...        ...
43905        43898       Dalecrest    OH   38.8144   -77.1039
43906        43899       Glen Isle    DE   38.9578   -76.5906
43907        43901           Milne    IN   39.2631   -88.7922
43908        43905  Campbellsville    WY   37.3433   -85.3419
43909        43906  Campbellsville    WY   37.3433   -85.3419

[43910 rows x 5 columns]

In [61]:
fcosts_path = os.path.join(proj_path,extracted_dir,'fCosts.xlsx')
df_fixedcosts_raw = pd.read_excel(fcosts_path, sheet_name=0, header = 2)

In [62]:
df_fixedcosts_subset = df_fixedcosts_raw[df_fixedcosts_raw.isna().any(axis=1)]
df_fixedcosts_subset

     Date Truck ID Drive ID KM Traveled Liters Fuel Maintenance Fixed Costs
189   NaN      NaN      NaN         NaN    NaN  NaN         NaN         NaN
190  2019      NaN      NaN         NaN    NaN  NaN         NaN         NaN

In [64]:
df_fixedcosts_raw = df_fixedcosts_raw.drop(list(df_fixedcosts_subset.index)).reset_index(drop=True)
df_fixedcosts_raw.head()

,Date,Truck ID,Drive ID,KM Traveled,Liters,Fuel,Maintenance,Fixed Costs
0,2018-01-01 00:00:00,2,2,4594,1303.06,4077.49,1011.93,10502.595165
1,2018-01-01 00:00:00,6,4,3816,899.14,2813.7,1561.78,6092.156655
2,2018-01-01 00:00:00,17,9,7116,2128.46,6491,1324.12,11930.90331
3,2018-01-01 00:00:00,19,11,2724,669.73,2123.58,560.17,7428.016155
4,2018-01-01 00:00:00,20,12,3862,723.02,2378.19,648.11,6735.388638

In [66]:
freightcsv_path = os.path.join(proj_path,extracted_dir,'fFreight.csv')
df_freight_raw = pd.read_csv(freightcsv_path)

In [67]:
df_freight_raw.head()

,Date,Customer ID,Truck ID,Invoice Number,Freight ID,City,Net Revenue,Weight (Kg),Weight (Cubic),Goods Value
0,2018/01/02,10975,38,774571,02/01/2018:MMA-5946,Herrings Crossroads,"7,42","2,5",3,"247,39"
1,2018/01/02,22346,23,774507,02/01/2018:MMA-4836,Enders,"3,54","2,62",3,"118,05"
2,2018/01/02,12208,23,774516,02/01/2018:MMA-4836,Shavertown,"8,98","5,54",9,"299,01"
3,2018/01/02,1929,23,774626,02/01/2018:MMA-4836,Enders,"12,49","7,8",9,"416,27"
4,2018/01/02,6198,23,774623,02/01/2018:MMA-4836,Enders,"2,49","8,55",9,"82,9"